body{
	color: #2E2E2E;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #FFF5EB;
}

h1{
	text-align: center;
	font-size: 34pt;
}

p{
	text-align: center;
	font-size: 20pt;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	background-color: #9C9C9C;
}

td {
	border: 5px solid #9C9C9C;
}

.square {
    width: 85px;
    height: 85px;
    display: table-cell;
    background-color: #CFCFCF;
    font-size: 20pt;
    text-align: center;
    vertical-align: middle;	
    margin: 0px;
    border-radius: 5px;
    transition: all 0.3s;
}

.square:hover{
	background-color: #E9E9F8;
}

.grid {
    text-align: center;
}

sub {
	color: gray;
	font-size: 13pt;
}

.selected{
	background-color: #FFFFB2;
}

.solved{
	background-color: white;
}

.solved:hover{
	background-color: white;
}

#buttons {
	text-align: center;
	margin: 30px;
}